* {
  font-family: ComicCode;
  font-size: 18px;
  color: #eceff4;
  border-radius: 0px;
}

window#waybar {
  background: rgba(40#c48fcd#c48fcd, 44#c48fcd#c48fcd, 52#c48fcd#c48fcd, 0.9);
  border: 2px solid #a48fcd;
}
/*-----module groups----*/
.modules-right {
}
.modules-center {
}
.modules-left {
}
/*-----modules indv----*/
#workspaces button {
  padding: 0px 5px;
  background-color: transparent;
}
#workspaces button:hover {
  box-shadow: inherit;
  background-color: #acc0ce;
}

#workspaces button.focused {
  background-color: #a48fcd;
}

#clock#c48fcd#c48fcd,
#battery#c48fcd#c48fcd,
#cpu#c48fcd#c48fcd,
#memory#c48fcd#c48fcd,
#temperature#c48fcd#c48fcd,
#network#c48fcd#c48fcd,
#pulseaudio#c48fcd#c48fcd,
#custom-media#c48fcd#c48fcd,
#tray#c48fcd#c48fcd,
#mode#c48fcd#c48fcd,
#custom-power#c48fcd#c48fcd,
#custom-menu#c48fcd#c48fcd,
#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #ef616a;
  font-weight: bold;
}
#custom-power {
  background-color: #bd93f9;
  border-radius: 0px;
  margin: 0px 0px;
  padding: 4px 4px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #a3de8c;
}
#pulseaudio.muted {
  color: #ef616a;
}
#battery.charging {
  color: #a3de8c;
}
#battery.warning:not(.charging) {
  color: #ef616a;
}
#battery.critical:not(.charging) {
  color: #ef616a;
}
#temperature.critical {
  color: #ef616a;
}
